header{
    background:linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.header{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color:black;
}

.topnav {
    overflow: hidden;
    background-color:blue;
    
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: white;
    color: blue;
  }
  
  .topnav a.active {
    background-color: blue;
    color:white;
  }

.name_prin{
    background-color: #0f0c29;
    margin-right:1200px;
    margin-left:60px;
    color:white;
    padding-left:70px;
}

.footer{
padding:60px;
text-align: left;
background-color:lightslategray;
border: 0px;
padding-bottom: 20px;
padding-top: 20px;
width:25%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
  float: left;
  width: 10%;
  height:30px;
  padding: 50px;
  margin:20px;
}

.dept_box::after {
  content: " ";
  clear: both;
  display: table;
}
P{
  text-indent: 20PX;
}

HR{
  border:1px solid grey;
}